@import 'vendors/bootstrap-4.6/bootstrap.scss';

@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/base';
@import 'base/typography';

@import 'layout/contact';
@import 'layout/pagination';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/main';

@import 'components/buttons';
@import 'components/navbar';

@import 'pages/home';

@import 'themes/theme';
@import 'themes/admin';
