.navbar {
    padding: 20px 80px;
    background-color:black;
    color: white;    
}
.navbar-nav {
    padding-right: 60px;   

}

.nav-link:hover {
    color: $fuzzy-wuzzy !important;
    text-decoration: none;
}

@media (max-width: 320px) {
    .navbar { 
        padding: 10px 40px;
    }
    .logo {
        @include small-bigote;
    }
    .navbar {
        text-align: right;
    }
    .navbar-nav {
        padding-right: 0;
    }
    .navbar-toggler {
        border: none;
    }
}