@mixin padding-sm {
    padding: 40px 35px 0px 35px;
}

@mixin padding {
    padding: 40px 300px 40px 300px; 
    
}

@mixin small-bigote {
    width: 70px;
    height: auto;
}

@mixin bigote {
    width: 110px;
    height: auto;
}

@mixin small-button {
    margin: 0 5px;
    border-radius: 30px;
    font-size: $small;
    font-weight: $regular;
}

@mixin medium-button {
    margin: 0 5px;
    border-radius: 30px;
    font-size:$medium;
    font-weight: $regular;
}

@mixin hover-state {
    background-color: $light-gray;
    border-color: $light-gray;
}

@mixin focus-state {
    color: $white;
}

@mixin hover-state-mail {
    color: $raisin-black;
    text-decoration: none;
}
@mixin active-state-mail {
    color: $white;
    text-decoration: none;
}

@mixin pagination-sm {
    color: $white;
    background-color: $eirie-black;
}

@mixin small-thumbnail {
    width: 120px;
    height: 120px;
    border-radius: 160px;
    border: 1px solid $eirie-black;
}

@mixin titulo-sm {
    color: white;
    font-size: $x-large;
    font-weight: $black;
    font-style: italic;
}