//TIPOGRAFÍA
//Fuente
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

//Peso de fuentes
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Tamaño de fuente
$small: 12px;
$medium: 16px;
$large: 18px;
$x-large: 30px;
$xx-large: 70px;



//ESQUEMA DE COLORES
//primer esquema
$white: #fff;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Segundo esquema
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76c69;
$spanish-pink: #ECBCBA;

//Tercer esquema
$eirie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;



//Interlineado
$interlineado1: 2;
$interlineado-sm: 2.3;