.banner {
    background-image: url(../../assets/images/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;    
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
}

.banner_texto {
    width: 50%;
    margin:0 auto;
}

.banner_flecha {
    color: $white;
    position: absolute;
    bottom: 0;
    left: calc(50% - 56px);
}

.navbar-toggler-icon {
    font-size: $x-large                                            ;
    font-weight: $black;
}

@media (max-width: 320px) {
    .banner {
        height: 400px;
    }
    .banner_texto {
        width: 75%;
        text-align: center;
    }
    .banner_item {
        text-align: center;
    }
    .banner_flecha {
        font-size: $x-large;
        left: calc(50% - 26.25px);
    }
}
