@media (min-width: 321px) {
    .main {
        @include padding;
        text-align: justify;
    }
    .main__texto {
        line-height: $interlineado1; 
    }
    .main__texto--titulo {
        font-weight: $bold !important;
        font-size: $large !important;
    }

}

@media (max-width: 320px) {
    .main__texto {
        @include padding-sm;
        line-height: $interlineado-sm;
    }
}


