.paginacion {
    background-color: $platinum;
    height: 140px;
    padding-top: 50px;
}

.page-link {
    color: black;
}

.numero_activo {
    background-color: $nickel;
}

.borde-inicio {
    border-radius: 20px 0 0 20px !important;
}

.borde-final {
    border-radius: 0 20px 20px 0 !important;
}

@media (max-width: 320px) {
    .activo {
        @include pagination-sm
    }
    .page-link {
        padding: 5px 7px;
        font-size: $small;
    }
}